<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>Admin Home</div>
	<br>
	<br>
	
	<form action="addsong" >
	<input type="submit" value="Add Song">
	</form>
	<br>
	<br>
	<form action="viewsongs" >
	<input type="submit" value="View Song">
	</form><br><br>
	<form action="createplaylists" >
	<input type="submit" value="Add PlayList">
	</form><br><br>
	<form action="viewplaylist" >
	<input type="submit" value="View PlayList">
	</form>
	<br><br>
	<form action="logout" >
	<input type="submit" value="Logout">
	</form>
</body>
</html>